.component{
    display: flex;
    width: 100%;
    background-color: rgb(76, 61, 82);
    position:fixed;
}
.navigation{
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    height: 7rem;
    font-size: 32px;
    justify-content: space-around;
}
.image{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F280x280_RS%2Fa4%2F0b%2F1c%2Fa40b1c2a62a4b130f8689c729da2b37f.jpg&f=1&nofb=1");
    width: 5rem;
    height: 5rem;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    margin-right: 1rem;
}
.toHome{
    display: flex;
    align-items: center;
}
.toHome:hover{
    opacity: 0.5;
}
.links{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}
.links p:hover{
    opacity: 0.5;
}